html, body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
}
canvas {
  display: block;
}

h1 {
  text-align: left;
  color: #040404;
  padding-left:0;
  font-size: 15px
}

h2 {
  text-align: left;
  color: #d5d5d5;
  padding-left:0;
  font-size: 15px
}

h3 {
  text-align: left;
  color: #d5d5d5;
  padding-left:0;
  font-size: 15px
}

h4 {
  text-align: left;
  color: #d5d5d5;
  padding-left:0;
  font-size: 15px
}

h5 {
  text-align: left;
  color: #d5d5d5;
  padding-left:0;
  font-size: 15px
}

h6 {
  text-align: left;
  color: #d5d5d5;
  padding-left:0;
  font-size: 15px
}

.row {
  border: 3px outset #ffc0c0;
  background-color:	#fdfdfd;
  text-align: center;
  margin: 50px;
  padding: 50px

}
